<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Home Route" stopProcessing="true">
          <match url="^home(/)?$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="ACP Route" stopProcessing="true">
          <match url="^ACP/(.*)$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="QuizGame Route" stopProcessing="true">
          <match url="^quizgame/(.*)$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="PlayQuiz Route" stopProcessing="true">
          <match url="^quizplayer(/)?$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="SetUsername Route" stopProcessing="true">
          <match url="^SetUsername/(.*)$" />
          <action type="Rewrite" url="/index.html" />
        </rule>
        <rule name="Default Route" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
